{% extends 'base2.html' %}
{% block content %}
<div class='container'>
    <div class='row'>


        {% for post in post %}
        {{post.profile.dp.url}}
        <div class='col-md-4'>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{post.user.username}}</h5>
                <p class="card-text">{{post.caption}}</p>
            </div>
            <div class='card-footer'>
                posted {{post.postedon|timesince}} ago
            </div>
        </div>
    </div>
  
{% endfor %}
</div>
</div>

{% endblock %}