{% extends 'base2.html' %}
{% block content %}
<div class='container'>
    <div class='row'>


        {% for post in post %}
        <img alt="">
        
        <div class='col-md-4'>
        <div class="card" style="width: 45rem;">
            <div class='card-header'>
        <img id="prof"  src="{{post.profile.dp.url}}" width="50" height="50"  alt="Card image cap">
         {{post.user.username}}
    </div>
           
               
    <img src="{{post.image.url}}"style="width: 45rem;" alt="">
    <div class='down'style="padding:20px;">
            <p class="card-text">{{post.caption}}</p>

    </div>
   
           
          
        </div>
    </div>
  
{% endfor %}
</div>
</div>
{% for follower in followers %}
{{follower.username}}
{% endfor %}
{% endblock %}