{% extends 'base2.html' %}
{% load bootstrap4 %}
{% block content %}

<div class="row">


    <div class='col-md-4 col-xs-4 col-sm-4'>
        {% for post in post %}

        <div class="card" id='{{post.id}}'style="width: 36rem;">


            {% if post.profile.dp %}
            <a href='/prof/{{post.user.id}}/'>
                <img id="prof" style="" src="{{post.profile.dp.url}}" width="50" height="50" alt="Card image cap">
                {{post.user.username}}</a>
                {{post.id}}
            {% else %}
            <a href='/prof/{{post.user.id}}/'>
                <img id="prof" style=""  width="50" height="50" src="https://www.w3schools.com/howto/img_avatar.png">
                {{post.user.username}}</a>

            {% endif %}


                <a href="/one/{{post.id}}">
            <img src="{{post.image.url}}" style="text-align: center;" alt="" width="570px" height="570px">
        </a>
            <p style="font-size:40px">
                <form action="/like/{{post.id}}" method="post" enctype="multipart/form-data">
                {%csrf_token%}

                {% bootstrap_form like %}
                <button type='submit'>
                        <i class="fa fa-heart" type='submit' style="font-size:30px;">{{post.likes.all|length}}</i>

                </button>
               
            </form>
                 <i class="fa fa-comment"
                    style="font-size:30px;"> {{post.comments.all|length}}</i></p>
            <p class="card-text">{{post.caption}}</p>
                <small>posted<em><b>:{{post.postedon|timesince}}</b> ago</em></small>
            <br>

            <form id='comment' action="/comment/{{post.id}}/" method="post" enctype="multipart/form-data">
                {%csrf_token%}

                {% bootstrap_form comm %}
                <input type="submit" class="btn btn-primary btn-lg" value="Add comment">
            </form>
            <form action="/like/{{post.id}}" method="post" enctype="multipart/form-data">
                {%csrf_token%}

                {% bootstrap_form like %}
                
                
            </form>
            <div style='margin-left: 20px;' >
              <br>
            {% for comment in post.comments.all %}
            <b><em><a href='{{comment.user.username}}'>{{comment.user.username}}</a></em></b>:{{comment.comment}}
            <br>
            {% endfor %}
        </div>
            {% for likes in post.likes.all %}
            liked by <h3>{{likes.user.username}}</h3> and {{likes.user|length}} others
            {% endfor %}



        </div>

        <br>
        <br>

        {% endfor %}
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#comm").click(function () {
            alert("This is a paragraph.");
        });

    });
</script>

{% endblock %}