<nav class="navbar">
    <section class="logo-section">
        <a href='/'><img class="logo" src="https://seeklogo.com/images/I/instagram-new-2016-glyph-logo-84CB825424-seeklogo.com.png" /></a>
        
        <div></div>
        <img class="logoname" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/2000px-Instagram_logo.svg.png" />
    </section>
    <form class="search-section">
        <input class="input-search" type="search" name="search" placeholder="search" />
    </form>
    <section class="icons-section">
        <a class="fa fa-compass" href="#"></a>
        <a class="fa fa-heart" href="#"></a>
        <a class="fa fa-user"  href="/profile/"></a>
    </section>
</nav>