{% extends 'base2.html' %}
{% block content %}


<div class="row">
  {% if users %}
    {% for user in users %}
    <div class='col-md-4'>
        <br>
        <div class="panel" style="width: 50%;">

            <div class="card-body">
                <!-- <h5 class="card-title">{{post.user.username}}</h5>
                        <p class="card-text">{{post.caption}}</p> -->
            </div>
            {% if user.profile.dp %}
            <a href='/prof/{{user.id}}/'>
                <img id="prof" style="" src="{{user.profile.dp.cdn_url}}" width="350px" height="350px" alt="Card image cap">
               </a>
               <h1 id='uname' > {{user.username}}</h1>
              
            {% else %}
            <a href='/prof/{{user.id}}/'>
                <img id="prof" style="" src="https://www.w3schools.com/howto/img_avatar.png">
               </a>
               <h2> {{user.username}}</h2>

            {% endif %}

        </div>
    </div>

    {% endfor %}
    {% else %}
    <h1 id='uname' >NO RESULTS</h1>
    {% endif %}


{% endblock %}