.lay{
    width: 240px;
    height: 427px;
      float: right;
      margin-right: 64px;
    animation-name: luwi;
      animation-duration: 10s;
      transition-duration: 78ms;
      animation-iteration-count: 100000;
  }
  @keyframes luwi {
      0%   {background-image: url(/static/images/pic3.jpg);}
      25%  {background-image: url(/static/images/pic4.jpg);}
      50%  {background-image: url(/static/images/pic5.jpg);}
      75%  {background-image: url(/static/images/pic6.jpg);}
      100% {background-image: url(/static/images/pic6.jpg);}
  }