{% extends 'base2.html' %}
{% load bootstrap4 %} {% load staticfiles %}

    {% block content %}
    <div class='container'>
        <div class='row'>


            {% for post in post %}
            <div class='col-md-4'>
                <div class="card" style="width: 50%;">
                    <img class="card-img-top" src="{{post.image.url}}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{post.user.username}}</h5>
                        <p class="card-text">{{post.caption}}</p>
                    </div>
                    <div class='card-footer'>
                        posted {{post.postedOn|timesince}} ago
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>

    {% if pics %}
    {% for post in pics %}
    {{post.user.username}}
    <img src="{{post.image.url}}" width='500' height='500' alt="">
    posted {{post.postedOn|timesince}} ago
    {% endfor %}
    {% else %}
    <h1> YOU HAVE POSTED NOTHING</h1>
    {% endif %}

    <form action="{%url 'profile' %}" method="post" enctype="multipart/form-data">
        {%csrf_token%}

        {% bootstrap_form form%}
        <input type="submit" class="btn btn-primary btn-lg" value="Post">
    </form>



    

    {% endblock %}
