{% extends 'base2.html' %}
{% load bootstrap4 %} {% load staticfiles %}

{% block content %}
<div class='row'>


    <div class="col-md4">
        {% if profile.dp %}
        <img src="{{profile.dp.cdn_url}}" id="prof" width='250' height='250' alt="">
        {% else %}
        <img src="https://www.w3schools.com/howto/img_avatar.png" width='250' height='250'  id="prof" alt="">
        {% endif %}
    </div>
    <div class="col-md-8">
        <div class="row" style="margin-top:10px;">
            <div class="col-md-1">
                <h2> {{profile.user.username}}</h2>
            </div><br>{% autoescape on %}<br>{{profile.bio|safe}}
            {% endautoescape %}
        </div>
        <div class="col-md-4"><a class="fas fa-cog" data-toggle="modal" data-target="#account"  ></a>

        </div>

        <div class="row">
            <div class="col-md-4">
                <h3><em>followers</em>: 0</h3>
            </div>
            <div class="col-md-4">
                <h3><em data-toggle="modal" data-target="#following">following</em>:{{followers|length}}</h3>
            </div>
            <div class="col-md-4">
                    <h3><em>Posts</em>: {{profile.user.posts|length}}</h3>
                </div>



            <br>
        </div>
    </div>
</div>
{% if pics %}
<div class="row">
    {% for post in pics %}
    <div class='col-md-4'>
        <br>
        <div class="panel" style="width: 50%;">

            <div class="card-body">
                <!-- <h5 class="card-title">{{post.user.username}}</h5>
                        <p class="card-text">{{post.caption}}</p> -->
            </div>

            <a href='/#{{post.id}}'><img src="{{post.image.cdn_url}}" width="350px" height="350px" alt=""></a>
            <!-- <div class='card-footer'>
                        posted {{post.postedon|timesince}} ago
                    </div> -->
        </div>
    </div>

    {% endfor %}
</div>

{% else %}
<h1> You are yet to post</h1>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-4"><img width="100" height="100" src="https://images.unsplash.com/photo-1544654262-e295983be0f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""></div>
            <div class="col-md-4"><img width="100" height="100" src="https://images.unsplash.com/photo-1544694916-eb0f093cec92?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""></div>
            <div class="col-md-4"><img  width="100" height="100" src="https://images.unsplash.com/photo-1544682236-173a9a707e68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4"><img width="100" height="100" src="https://images.unsplash.com/photo-1544695526-595de066b315?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""></div>
            <div class="col-md-4"><img width="100" height="100" src="https://dk-denno.github.io/portfolioo/images/dennis.JPG" alt=""></div>
            <div class="col-md-4"><img  width="100" height="100" src="https://images.unsplash.com/photo-1544686148-6cefad713f5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4"><img width="100" height="100" src="https://images.unsplash.com/photo-1544662000-42e2466e7208?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""></div>
            <div class="col-md-4"><img width="100" height="100" src="https://images.unsplash.com/photo-1544681280-d25a782adc9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""></div>
            <div class="col-md-4"><img  width="100" height="100" src="https://images.unsplash.com/photo-1544694310-9106d1743bc6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt=""></div>
        </div>
        <br>
        
    </div>
    <div class="col-md-4"></div>
</div>
{% endif %}




<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">POST</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <form action="{%url 'profile' %}" method="post" enctype="multipart/form-data">
                    {%csrf_token%}

                    {% bootstrap_form form%}
                 
                    <input type="submit" class="btn btn-primary btn-lg" value="Post">
                </form>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="modal fade" id="mode" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">POST</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <form action="{%url 'profile' %}" method="post" enctype="multipart/form-data">
                    {%csrf_token%}

                    {% bootstrap_form prof%}
                    <input type="submit" class="btn btn-primary btn-lg" value="Post">
                </form>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="modal fade" id="following" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">


                {% for fol in followers %}
                {% if fol.profile.dp %}
                <li><a href='/prof/{{fol.id}}/'> <img class="img.img-thumbnail.rounded-circle.user" src="{{fol.profile.dp.url}}"
                            style="border-radius:100%" width='50' height='50' alt=""> {{fol.username}}</a></li>
                <br>
                {% else %}
                <li><a href='/prof/{{fol.id}}/'> <img class='img.img-thumbnail.rounded-circle.user' src="https://cdn2.iconfinder.com/data/icons/rcons-user/32/male-shadow-circle-512.png"
                            width='50' height='50' alt=""> {{fol.username}}</a></li>
                {% endif %}
                <br>

                {% endfor %}



                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="modal fade" id="account" role="dialog">
        <div class="modal-dialog">
    
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
    
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
    
                </div>
                <div class="modal-body">
                    <a href="/auth/password/change/">Change password</a><br>
                    <a href="/logout">Logout</a><br>
                    <s data-toggle="modal" data-target="#mode">Edit profile</a><br>
    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
    
            </div>
        </div>
    
    </div>
{% endblock %}